{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер IT-проекта</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body style="height: 100vh">
<header>
    <p>Менеджер IT-проекта</p>
    <img class="logo" src="{% static 'images/logotip.png' %}">
</header>
<main>
    <div class="body">
        <div class="input_group">
            <div class="navigation">
                <nav>
                    <ul>
                        <li><div style="border-radius: 0px 0px 25px 0px; background: rgba(77, 114, 77, 0.50); justify-content: center"><a style="color: #FFFFFF !important;" href="/">Главная</a></div></li>
                        <li><div><a href={% url 'relevance' %}>Востребованность</a></div></li>
                        <li><div><a href={% url 'geo' %}>География</a></div></li>
                        <li><div><a href={% url 'abilities' %}>Навыки</a></div></li>
                        <li><div><a href={% url 'alv' %}>Последние вакансии</a></div></li>
                    </ul>
                </nav>
            </div>
            <div class="home_text">
                <h3>Кто это такой?</h3>
            <p>IT-менеджер компании – сотрудник, управляющий информационными
процессами. Он разбирается не только в технических аспектах IT-среды,
но и в вопросах ее взаимодействия с другими сферами: финансовой,
кадровой, рыночной.  Задача менеджера внутри фирмы: знать цели
развития бизнеса компании, уметь представить бизнес-процессы для их
автоматизации, осуществить правильный выбор информационной системы
и рассчитать эффект от ее применения.  Его внешние цели – обеспечить
клиентам получение качественных ИТ-услуг или организовать продажу
информационных продуктов.</p>
                <h3>ОСОБЕННОСТИ ПРОФЕССИИ</h3>
                <p>IT-менеджер – относительно новая профессия. В некоторых организациях
к ней долгое время относились пренебрежительно, а иногда должность
менеджера по ИТ, наоборот, вводили ради соответствия модным веяниям.
Нередко такой сотрудник имел техническое образование, но ничего не
знал о менеджменте, или был менеджером широкого профиля, и слабо
разбирался в информационных системах. На этот пост порой назначали
бывшего системного администратора или оператора call-центра. Но его
функция уже была определена четко – служить посредником между
техническими специалистами и внутренними пользователями или
внешними клиентами. Часть такая должность называется менеджер ИТ
услуг.</p>
                <p>В 2014 году существование профессии признали официально – в России
был утвержден профессиональный стандарт Менеджер по
информационным технологиям (Утвержден Приказом Минтруда России
№716н от 13.10.2014).</p>
                <p>Согласно этому документу, IT-менеджером считается сотрудник, в
обязанности которого входит управление информационными ресурсами,
сервисами, средой или инновациями. Это и директор ИТ-отдела, и
начальник службы поддержки пользователей, и глава вычислительного
центра – вплоть до государственного чиновника, отвечающего за развитие
компьютерных технологий в регионе.  </p>
                <p>В небольшой организации все перечисленные задачи могут быть
сосредоточены в руках одного руководителя. В крупной IT-компании
каждым вопросом занимается отдельный департамент.</p>
                <h3>ТРУДОВЫЕ ОБЯЗАННОСТИ</h3>
                <p>Работа ИТ-менеджером предполагает исполнение следующих задач: </p>
            <p>&emsp;&emsp;&emsp;управление персоналом;</p>
            <p>&emsp;&emsp;&emsp;расчет бюджета информационной среды;</p>
            <p>&emsp;&emsp;&emsp;анализ удовлетворенности потребителей и клиентов;</p>
            <p>&emsp;&emsp;&emsp;разработка и обеспечение качественных ИТ-услуг;</p>
            <p>&emsp;&emsp;&emsp;переговоры с клиентами и поставщиками оборудования;</p>
            <p>&emsp;&emsp;&emsp;поиск и оценка инновационных технологий, предложение их внедрения;</p>
            <p>&emsp;&emsp;&emsp;определение сроков работы над IT-проектами;</p>
            <p>&emsp;&emsp;&emsp;реализация ИТ-стратегии компании;</p>
            <p>&emsp;&emsp;&emsp;планирование эффективной реализации IT-проектов;</p>
            <p>&emsp;&emsp;&emsp;организация взаимодействия ИТ-специалистов с другими работниками.</p>
                <div class="empty"></div>
                <img class="home_img" src="{% static 'images/IT.jpg' %}"/>
            </div>
        </div>
    </div>
</main>
<footer style="top: 107%">
    <p>Мохов Михаил Александрович АТ-02</p>
</footer>
</body>
</html>